*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Style for navigation bar */
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px 60px;
    margin-bottom: 90px;
}


.Title{
    text-decoration: none;
    color: white;
}

.Settings{
    text-decoration: none;
    color: white;
    float: right;
}

.Settings  :visited{
    text-decoration : none;
}


.left{
    display: flex;
    flex-direction: row;
}




.shoppingCart{
    position: relative;
    background-color: #04AA6D;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border-radius: 6px;
}

.cartAmt{
    font-size: 20px;
    background-color: red;
    border-radius: 4px;
    color: white;
    position: absolute;
    top: -15px;
    right: -12px;
    padding: 3px;
}

/* Styling for products */

.products{
    display: grid;
    grid-template-columns: repeat(4, 304px);
    gap: 100px;
    justify-content: center;
}

@media (max-width: 1000px){
    .products{
        grid-template-columns: repeat(2, 304px);
    }
}

@media (max-width: 500px){
    .products{
        grid-template-columns: repeat(1, 304px);
    }
}

.Headphones{
    border: 2px solid black;
    border-radius: 4px;
}

.productdeets{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.price-amt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price-amt h2{
    margin-left: 10px;
}

.button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    margin-right: 10px;
}


.bi-plus-lg{
    color: #04AA6D;
}


.bi-dash-lg{
    color: red;
}