*{
    background-color: #333;
    margin: 0;
}


.b1 button{
    font-size: 75px;
    color: white;
    border-radius: 25px;
    border-color: red;
}


.b2 button{
    font-size: 75px;
    color: white;
    border-radius: 25px;
    border-color: white;
}


.Box{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    gap: 200px;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 17%;
}