*{
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    background-size: cover;
}


.Signup{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2_inner{
    background-color: white;
    text-align: center;
    
}


.a_inner{
    background-color: white;
    margin-top: 10px;
}

form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}


form h2{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}


form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}

form button{
    padding: 15px;
    background: #00704A;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
