*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Style for navigation bar */

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px 60px;
    margin-bottom: 90px;
}

.bi-bag-fill :hover{
    transform : scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.bi-gear :hover{
    transform : scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Title{
    text-decoration: none;
    color: white;
}

.Settings{
    text-decoration: none;
    color: white;
    float: right;
}

.Settings  :visited{
    text-decoration : none;
}

.Settings :hover{
    transform : scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.left{
    display: flex;
    flex-direction: row;
}

.shoppingCart{
    position: relative;
    background-color: #04AA6D;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border-radius: 6px;
}

.shoppingCart :hover{
    transform : scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cartAmt{
    font-size: 20px;
    background-color: red;
    border-radius: 4px;
    color: white;
    position: absolute;
    top: -15px;
    right: -12px;
    padding: 3px;
}

.bi-gear{
    font-size: 30px;
    margin-right: 50px;
}


.right{
    display: flex;
    flex: row;
    justify-content: space-evenly;
}

/* Styling for products */

.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-items{
margin-top: 2%;
margin-bottom: 2%;
}
.item{
display: flex;
margin-bottom: 2%;
margin-left: 2%;
} 
.cart-description{
width: 60%;
display: flex;
}
.cart-title{
margin-left: 2%;
font-size: 1.3rem;
}
.lastpart{
right:0px;
}
.cart-price{
padding: 0 3% 3% 3%;
display: inline-block;
font-size: 1.7rem;
}
.remove-btn{
cursor: pointer;
color:red;
}
.cart-total{
text-align: center;
font-size: 3rem;
}   

@media (max-width: 1000px){
    #products{
        grid-template-columns: repeat(2, 304px);
    }
}

@media (max-width: 500px){
    #products{
        grid-template-columns: repeat(1, 304px);
    }
}

/*checkout*/

.Buy{
    text-align: center;
    margin-top: 5%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input{
    margin:auto;
    text-align: center;
    height: 50px;
    width: 1200px;
    border-radius: 100px;
}

#submit{
    margin: auto;
    height: 50px;
    width: 100%;
    border-radius: 100px;
    background-color: #D3D3D3;
    cursor: pointer;
}

/*footer*/

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 50px;
    color: white;
    text-decoration: none;
}

.footer{
    background: #333;
    padding-top: 5rem;
    font-size: 0.9rem;
  }
  
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    margin-left: 150px;
  }
  
.footer-container div h4{
    margin-bottom: 1.2rem;
  }
  
.footer-copyright{
    padding: 1rem 0;
    text-align: center;
    margin-top: 3rem;
    border-top: 1px solid #333;
    background: #333;
  }

