*{
    background-color: #333;
    margin: 0;
}


.b1 button{
    font-size: 75px;
    color: red;
    border-radius: 25px;
    border-color: red;
    cursor: pointer;
}


.b2 button{
    font-size: 75px;
    color: green;
    border-radius: 25px;
    border-color: green;
    cursor: pointer;
}


.Box{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    gap: 200px;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 17%;
}

.Cfm{
    display: flex;
    justify-content: space-around;
}

.b1{
    display: flex;
    flex-direction: column;
}